		<section id="title_area">
			<div>
				<h1>〇〇〇〇〇〇〇〇は東京都〇〇区の賃貸・売買物件をご紹介しております！</h1>
				<span class="menu_btn">MENU</span>
				<ol>
					<li class="bukken"><a href="#">最近見た物件</a></li>
					<li class="list"><a href="#">検討リスト</a></li>
				</ol>
				<ul class="menu">
					<li><a href="#">ホーム</a></li>
					<li><a href="#">物件検索</a></li>
					<li><a href="#">店舗案内</a></li>
					<li><a href="#">お客様の声</a></li>
					<li><a href="#">スタッフ紹介</a></li>
					<li><a href="#">お問い合わせ</a></li>
					<li><a href="#">求人情報</a></li>
					<li><a href="#">プライバシーポリシー</a></li>
					<li><a href="#">利用規約</a></li>
					<li><a href="#">サイトマップ</a></li>
				</ul>
			</div>
		</section>
		<header>
			<div>
				<h2><a href="#">〇〇〇〇〇不動産</a></h2>
				<dl>
					<dt><span>○○店</span>03-0000-0000</dt>
					<dd>
						<p>総合窓口 本部　<strong>0120-000-000</strong></p></dd>
					<dd>営業時間 00:00～00:00 │ 定休日 ○曜</dd>
				</dl>
			</div>
		</header>
		<nav>
			<div>
				 <ul>
					<li><a href="#">ホーム</a></li>
					<li><a href="#">物件検索</a></li>
					<li><a href="#">店舗案内</a></li>
					<li><a href="#">お客様の声</a></li>
					<li><a href="#">スタッフ紹介</a></li>
					<li><a href="#">お問い合わせ</a></li>
				</ul>
			</div>
		</nav>
		<section id="pankuzu_area">
			<div>
				<ul>
					<li><a href="#">HOME</a></li>
					<li>物件一覧</li>
				</ul>
			</div>
		</section>
		<section id="contents_area">
			<article>
				<div class="title">
					<div>
						<h3>○○○○○○○○○○○○○</h3>
						<ul>
							<li><%= image_tag 'commons/title_icon_google.png', :width => '32', :height => '20' %></li>
							<li><%= image_tag 'commons/title_icon_twitter.png', :width => '67', :height => '20' %></li>
							<li><%= image_tag 'commons/title_icon_fb.png', :width => '82', :height => '20' %></li>
							<li><%= image_tag 'commons/title_icon_hatena.png', :width => '20', :height => '20' %></li>
						</ul>
					</div>
				</div>
				<div class="detail_intro">
					<p>電話お問合せのお客様限定<br>【 仲介手数料 無料（０円）対象物件 】初期費用の分割・クレジットカード決済可能です！<br>お気軽にご相談下さい。</p>
					<div>
						<ol>
							<li>賃料</li>
							<li>間取り</li>
							<li>専有面積</li>
							<li>所在階</li>
							<li>管理費 + 共益費</li>
							<li>敷金</li>
							<li>礼金</li>
						</ol>
						<ul>
							<li><strong><%= @room[0].fee %></strong></li>
							<li><%= @room[0].layout %></li>
							<li><%= @room[0].exclusive_area %>㎡</li>
							<li><%= @room[0].floor_position %>階</li>
							<li><%= @room[0].common_cost %>円</li>
							<li><%= @room[0].deposit %></li>
							<li><%= @room[0].key_money %></li>
						</ul>
					</div>
					<a href="#" class="btn list">検討リストに追加</a>
					<a href="#a_contact" class="btn mail">メールでのお問い合わせ</a>
				</div>
				<div class="detail_tab">
					<ul id="tabMenu" class="clearfix">
						<li><a href="#tab_info" class="active">物件情報</a></li>
						<li><a href="#tab_around">周辺施設</a></li>
						<li><a href="#tab_map">地図</a></li>
					</ul>
					<div id="tabBoxes">
						<div id="tab_info" class="tabBox">
							<div class="sub_title">
								<h4>物件情報</h4>
								<p>口口口口口口口口口口口口口口口口口口口口口</p>
							</div>
							<div>
								<ul>
									<li><a href="commons/images/image_sample.png" class="swipebox"><%= image_tag 'commons/image_sample.png', :width => '216', :height => '162' %></a></li>
									<li><a href="commons/images/image_sample.png" class="swipebox">
									<%= image_tag 'commons/image_sample.png', :width => '216', :height => '162' %></a></li>
								</ul>
								<dl>
									<dt>画像をクリックして拡大表示</dt>
									<dd>※ 写真や図と実際の現状とが異なる場合は現状を優先させていただきます。</dd>
								</dl>
								<ol>
									<li><a href="commons/images/image_sample_l.png" class="swipebox"><%= image_tag 'commons/image_sample_s.png', :width => '100', :height => '100' %></a></li>
									<li><a href="commons/images/image_sample_l.png" class="swipebox"><%= image_tag 'commons/image_sample_s.png', :width => '100', :height => '100' %></a></li>
									<li><a href="commons/images/image_sample_l.png" class="swipebox"><%= image_tag 'commons/image_sample_s.png', :width => '100', :height => '100' %></a></li>
									<li><a href="commons/images/image_sample_l.png" class="swipebox"><%= image_tag 'commons/image_sample_s.png', :width => '100', :height => '100' %></a></li>
									<li><a href="commons/images/image_sample_l.png" class="swipebox"><%= image_tag 'commons/image_sample_s.png', :width => '100', :height => '100' %></a></li>
									<li><a href="commons/images/image_sample_l.png" class="swipebox"><%= image_tag 'commons/image_sample_s.png', :width => '100', :height => '100' %></a></li>
									<li><a href="commons/images/image_sample_l.png" class="swipebox"><%= image_tag 'commons/image_sample_s.png', :width => '100', :height => '100' %></a></li>
									<li><a href="commons/images/image_sample_l.png" class="swipebox"><%= image_tag 'commons/image_sample_s.png', :width => '100', :height => '100' %></a></li>
									<li><a href="commons/images/image_sample_l.png" class="swipebox"><%= image_tag 'commons/image_sample_s.png', :width => '100', :height => '100' %></a></li>
									<li><a href="commons/images/image_sample_l.png" class="swipebox"><%= image_tag 'commons/image_sample_s.png', :width => '100', :height => '100' %></a></li>
									<li><a href="commons/images/image_sample_l.png" class="swipebox"><%= image_tag 'commons/image_sample_s.png', :width => '100', :height => '100' %></a></li>
									<li><a href="commons/images/image_sample_l.png" class="swipebox"><%= image_tag 'commons/image_sample_s.png', :width => '100', :height => '100' %></a></li>
									<li><a href="commons/images/image_sample_l.png" class="swipebox"><%= image_tag 'commons/image_sample_s.png', :width => '100', :height => '100' %></a></li>
									<li><a href="commons/images/image_sample_l.png" class="swipebox"><%= image_tag 'commons/image_sample_s.png', :width => '100', :height => '100' %></a></li>
									<li><a href="commons/images/image_sample_l.png" class="swipebox"><%= image_tag 'commons/image_sample_s.png', :width => '100', :height => '100' %></a></li>
									<li><a href="commons/images/image_sample_l.png" class="swipebox"><%= image_tag 'commons/image_sample_s.png', :width => '100', :height => '100' %></a></li>
									<li><a href="commons/images/image_sample_l.png" class="swipebox"><%= image_tag 'commons/image_sample_s.png', :width => '100', :height => '100' %></a></li>
								</ol>
							</div>
							<a href="#" target="_blank" class="btn">地図を表示する</a>
						</div>
						<div id="tab_around" class="tabBox">
							<div class="sub_title">
								<h4>周辺施設</h4>
								<p>口口口口口口口口口口口口口口口口口口口口口</p>
							</div>
							<div>
								<ul>
									<li><%= image_tag 'commons/image_sample_l.png' %><p>○○○○○○○<br>約○○○m / ○分</p></li>
									<li><%= image_tag 'commons/image_sample_l.png' %><p>○○○○○○○<br>約○○○m / ○分</p></li>
									<li><%= image_tag 'commons/image_sample_l.png' %><p>○○○○○○○<br>約○○○m / ○分</p></li>
									<li><%= image_tag 'commons/image_sample_l.png' %><p>○○○○○○○<br>約○○○m / ○分</p></li>
									<li><%= image_tag 'commons/image_sample_l.png' %><p>○○○○○○○<br>約○○○m / ○分</p></li>
								</ul>
							</div>
						</div>
						<div id="tab_map" class="tabBox">
							<div class="sub_title">
								<h4>地図</h4>
								<p>口口口口口口口口口口口口口口口口口口口口口</p>
							</div>
							<div>
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.74797546837!2d139.74324421611777!3d35.65858048019957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bbd9009ec09%3A0x481a93f0d2a409dd!2z5p2x5Lqs44K_44Ov44O8!5e0!3m2!1sja!2sjp!4v1475817216614" width="645" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
								<p>※ 地図上に表示される物件の位置は付近住所に所在することを表すものであり、実際の物件所在地とは異なる場合がございます。</p>
							</div>
						</div>
					</div>
				</div>
				<div class="detail_simulation">
					<div class="sub_title">
						<h4>初期費用シミュレーション</h4>
						<p>この物件を借りた場合の初期費用の一例です。</p>
					</div>
					<form>
						<ul>
							<li>賃料<input type="text" name=""></li>
							<li>管理費 + 共益費<input type="text" name=""></li>
							<li>敷金<input type="text" name=""></li>
							<li>礼金<input type="text" name=""></li>
							<li>前家賃<span>（日割り）※1</span><input type="text" name=""></li>
							<li>前家賃<span>（日割り）</span><input type="text" name=""></li>
							<li>仲介手数料 <span>※2</span><input type="text" name=""></li>
							<li>その他費用<input type="text" name=""></li>
						</ul>
						<div><strong>初期費用合計</strong><input type="text" name=""></div>
					</form>
					<ol>
						<li>※1. 1か月を30日として計算しています。</li>
						<li>※2. 仲介手数料は税抜き価格です。<br>仮の価格となりますので、実際の仲介手数料に関してはお気軽にお問い合わせ下さい。</li>
					</ol>
				</div>
				<div class="detail_comment">
					<div class="sub_title">
						<h4>担当者のコメント</h4>
						<p>〇〇〇〇〇〇〇〇〇〇店</p>
					</div>
					<%= image_tag 'commons/image_sample.png', :width => '216', :height => '162', :class => "img" %>
					<p>こちらの仲介手数料は、電話お問合せのお客様限定【 無料（０円） 対象物件】となりますのでローコストです。<br>味わい深い赴きある物件。<br>入居を急ぐ方にも当物件でしたら現在空き部屋ですのでお勧めです。<br>お子さんの通学も安心電車を2駅利用できる物件です。<br>欠かせない条件である給湯設備付き物件となっています。<br>当社がご紹介する賃貸物件は、利便性の高い暮らしをしたいとお考えの方にオススメの物件です。<br>様々な条件に適した物件を取り扱っておりますので、ぜひご連絡下さい。</p>
					<dl class="point">
						<dt>この物件のポイント</dt>
						<dd>冷房　洗面台　エアコン　照明付き　地上デジタル放送　3駅利用可</dd>
					</dl>
					<dl class="address">
						<dt>お問い合わせは<a href="#">アクセス赤羽LaLaガーデン店</a>まで</dt>
						<dd>
							<address>〒115-0045 東京都北区赤羽2丁目14-1 美宝堂ビル2階</address>
							<strong>03-6903-8305</strong>
							<span>営業時間 10:00～19:00（定休日 水曜日）</span><br class="sp_none">
							<a href="#" class="btn list">検討リストに追加</a>
							<a href="#a_contact" class="btn mail">メールでのお問い合わせ</a>
						</dd>
					</dl>
				</div>
				<div class="detail_brief">
					<div class="sub_title">
						<h4>物件概要</h4>
						<p><%= @room[0].description %></p>
					</div>
					<dl>
						<dt>所在地</dt>
						<dd><%= @room[0].address1 + @room[0].address2 %></dd>
					</dl>
					<dl>
						<dt>交通</dt>
						<dd>
							<%= @room[0].traffic %>
						</dd>
					</dl>
					<dl>
						<dt>間取り / 詳細</dt>
						<dd><%= @room[0].layout %> <%= @room[0].layout_detail %></dd>
					</dl>
					<dl>
						<dt>賃料</dt>
						<dd><%= @room[0].fee %></dd>
					</dl>
					<dl>
						<dt>管理費+共益費</dt>
						<dd><%= @room[0].common_cost %></dd>
					</dl>
					<dl>
						<dt>敷金 / 礼金</dt>
						<dd><%= @room[0].deposit %> / <%= @room[0].key_money %></dd>
					</dl>
					<dl>
						<dt>保証金 / 解約引</dt>
						<dd><%= @room[0].security_money %> / <%= @room[0].cancel_reduction %></dd>
					</dl>
					<dl>
						<dt>敷金積み増し</dt>
						<dd><%= @room[0].deposit_addition %></dd>
					</dl>
					<dl>
						<dt>面積</dt>
						<dd><%= @room[0].exclusive_area %>㎡</dd>
					</dl>
					<dl>
						<dt>築年月（築年数） / 方位</dt>
						<dd><%= @room[0].built %> (<%= @room[0].built %>) / <%= @room[0].orientation %></dd>
					</dl>
					<dl>
						<dt>契約期間</dt>
						<dd>2年</dd>
					</dl>
					<dl>
						<dt>種別 / 構造</dt>
						<dd>アパート / 木造</dd>
					</dl>
					<dl>
						<dt>部屋 / 所在階 / 階建</dt>
						<dd>- / 1階 / 2階建</dd>
					</dl>
					<dl>
						<dt>総戸数</dt>
						<dd>-</dd>
					</dl>
					<dl>
						<dt>現状 / 入居可能日</dt>
						<dd>空家/即時</dd>
					</dl>
					<dl>
						<dt>駐車場/料金</dt>
						<dd>- / -</dd>
					</dl>
					<dl>
						<dt>保険加入 / 料金</dt>
						<dd>有 / 13,000円</dd>
					</dl>
					<dl>
						<dt>保険名 / 保険期間</dt>
						<dd>家財保険 / 2年</dd>
					</dl>
					<dl>
						<dt>特優賃</dt>
						<dd>-</dd>
					</dl>
					<dl>
						<dt>権利金 / 雑費</dt>
						<dd>- / -</dd>
					</dl>
					<dl>
						<dt>取引形態 / 賃貸区分</dt>
						<dd>仲介 / 一般</dd>
					</dl>
					<dl>
						<dt>保証人代行義務</dt>
						<dd>必加入</dd>
					</dl>
					<dl>
						<dt>保証会社</dt>
						<dd>その他</dd>
					</dl>
					<dl>
						<dt>保証会社詳細</dt>
						<dd>契約時：10,000円～</dd>
					</dl>
					<dl>
						<dt>設備条件</dt>
						<dd>日当たり良好仲介手数料無料室内洗濯機置場フローリング都市ガス公営水道公共排水電気有駐輪場バイク置場ありガスコンロバス・トイレ別シャワーエアコン光ファイバーオートロックTVモニタ付インターホン</dd>
					</dl>
					<dl>
						<dt>備考</dt>
						<dd>
							ご負担いただく仲介手数料は、無料（0円） となっておりおトクです。<br>
							多くの方にご好評の、清潔感のある室内が魅力的な賃貸物件です。<br>
							実際にお部屋が見たい方、こちらはご案内可能です。<br>
							ここまでご覧頂きありがとうございます♪<br>
							当社は他社に負けない総合仲介店を目指し！<br>
							各沿線の各不動産会社様へ直接ご挨拶に行き最新の物件を提供して頂いています！！<br>
							最新の情報はインターネットに載せるまでにも時間がかかります★<br>
							直接ご来店のお客様もしくはお問い合わせを頂いたお客様にはメールで情報を送ったりもしています☆<br>
							当社は初期費用の分割可能！保証人がいない方もご安心ください！<br>
							年中無休で首都圏全域のお部屋をご案内可能☆どんなご相談でもご安心ください！！<br>
							難しいかな？と悩む前にお部屋探しのライフエージェントグループまで！！<br>
							インターネットの手続き♪<br>
							引越し業者手配♪<br>
							家電の回収作業etc..<br>
							お気軽に当社までお電話ください！！<br>
							★各線主要駅より徒歩1分以内★<br><br>

							毎日更新の当社グループ総合ホームページはこちら！！！<br>
							＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝<br><br>

							PC→→→ http://www.life-agents.jp/<br><br>

							＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝<br>
							水曜定休：AM10:00～PM19:00まで元気に営業中！<br>
							条件(その他)	クリーニング費3万2,400円
						</dd>
					</dl>
				</div>
				<div class="detail_contact" id="a_contact">
					<div class="sub_title">
						<h4>物件お問い合わせ</h4>
						<p>お問い合わせの前に、<a href="#">利用規約</a>及び<a href="#">プライバシーポリシー</a>を必ずお読みください。</p>
					</div>
					<form>
						<dl>
							<dt><span>任意</span>要望</dt>
							<dd><input type="text" name=""></dd>
						</dl>
						<dl>
							<dt><span class="required">必須</span>お名前</dt>
							<dd><input type="text" name=""></dd>
						</dl>
						<dl>
							<dt><span>必須</span>メールアドレス</dt>
							<dd><input type="text" name=""></dd>
						</dl>
						<dl>
							<dt><span>任意</span>内容</dt>
							<dd><textarea name=""></textarea></dd>
						</dl>
						<button>送信内容を確認する</button>
					</form>
				</div>
			</article>
			<article id="sidebar">
				<div class="side_request">
					<a href="#"><%= image_tag 'detail/side_request_bnr.png', :width => '480', :height => '200' %></a>
				</div>
				<div class="side_area">
					<h4>同じエリアのアパート</h4>
					<ul>
						<li><a href="#">北区</a></li>
						<li><a href="#">志茂</a></li>
						<li><a href="#">南北線 志茂</a></li>
						<li><a href="#">南北線 赤羽岩淵</a></li>
						<li><a href="#">京浜東北線 赤羽</a></li>
					</ul>
				</div>
				<div class="side_recommend">
					<h4>他のおすすめ物件</h4>
					<ul>
						<li>
							<a href="#">
								<dl>
									<dt>○○○○○○○</dt>
									<dd>
										<ul class="plaice">
											<li>4.8<span>万円</span></li>
											<li>1LDK</li>
										</ul>
										<%= image_tag 'commons/image_sample.png', :width => '216', :height => '162', :class=>'img' %>
										<ol>
											<li>アパート（居住用）</li>
											<li>〇〇駅 徒歩〇〇分</li>
										</ol>
										<span class="btn">more</span>
									</dd>
								</dl>
							</a>
						</li>
						<li>
							<a href="#">
								<dl>
									<dt>○○○○○○○</dt>
									<dd>
										<ul class="plaice">
											<li>4.8<span>万円</span></li>
											<li>1LDK</li>
										</ul>
										<%= image_tag 'commons/image_sample.png', :width => '216', :height => '162', :class=>'img' %>
										<ol>
											<li>アパート（居住用）</li>
											<li>〇〇駅 徒歩〇〇分</li>
										</ol>
										<span class="btn">more</span>
									</dd>
								</dl>
							</a>
						</li>
						<li>
							<a href="#">
								<dl>
									<dt>○○○○○○○</dt>
									<dd>
										<ul class="plaice">
											<li>4.8<span>万円</span></li>
											<li>1LDK</li>
										</ul>
										<%= image_tag 'commons/image_sample.png', :width => '216', :height => '162', :class=>'img' %>
										<ol>
											<li>アパート（居住用）</li>
											<li>〇〇駅 徒歩〇〇分</li>
										</ol>
										<span class="btn">more</span>
									</dd>
								</dl>
							</a>
						</li>
						<li>
							<a href="#">
								<dl>
									<dt>○○○○○○○</dt>
									<dd>
										<ul class="plaice">
											<li>4.8<span>万円</span></li>
											<li>1LDK</li>
										</ul>
										<%= image_tag 'commons/image_sample.png', :width => '216', :height => '162', :class=>'img' %>
										<ol>
											<li>アパート（居住用）</li>
											<li>〇〇駅 徒歩〇〇分</li>
										</ol>
										<span class="btn">more</span>
									</dd>
								</dl>
							</a>
						</li>
						<li>
							<a href="#">
								<dl>
									<dt>○○○○○○○</dt>
									<dd>
										<ul class="plaice">
											<li>4.8<span>万円</span></li>
											<li>1LDK</li>
										</ul>
										<%= image_tag 'commons/image_sample.png', :width => '216', :height => '162', :class=>'img' %>
										<ol>
											<li>アパート（居住用）</li>
											<li>〇〇駅 徒歩〇〇分</li>
										</ol>
										<span class="btn">more</span>
									</dd>
								</dl>
							</a>
						</li>
						<li>
							<a href="#">
								<dl>
									<dt>○○○○○○○</dt>
									<dd>
										<ul class="plaice">
											<li>4.8<span>万円</span></li>
											<li>1LDK</li>
										</ul>
										<%= image_tag 'commons/image_sample.png', :width => '216', :height => '162', :class=>'img' %>
										<ol>
											<li>アパート（居住用）</li>
											<li>〇〇駅 徒歩〇〇分</li>
										</ol>
										<span class="btn">more</span>
									</dd>
								</dl>
							</a>
						</li>
					</ul>
				</div>
				<div class="side_company">
					<h4>会社概要</h4>
					<%= image_tag 'commons/image_sample.png', :width => '216', :height => '162' %>
					<strong>○○○○○○○○○○○店</strong>
					<p>〒000-0000<br>東京都○○○○○○○○○○<br>○○○ビル2階<br>TEL 03-0000-0000<br>FAX 03-0000-0000<br>東京都知事 (0) 第00000号</p>
				</div>
			</article>
		</section>
		<section id="link_area">
			<div>
				<ul>
					<li><a href="#">求人情報</a></li>
					<li><a href="#">プライバシーポリシー</a></li>
					<li><a href="#">利用規約</a></li>
					<li><a href="#">サイトマップ</a></li>
				</ul>
				<span><a href="#title_area">ページ上部へ戻る</a></span>
			</div>
		</section>
