	<body>
		<section id="title_area">
			<div>
				<h1>〇〇〇〇〇〇〇〇は東京都〇〇区の賃貸・売買物件をご紹介しております！</h1>
				<span class="menu_btn">MENU</span>
				<ol>
					<li class="bukken"><a href="#">最近見た物件</a></li>
					<li class="list"><a href="#">検討リスト</a></li>
				</ol>
				<ul class="menu">
					<li><a href="#">ホーム</a></li>
					<li><a href="#">物件検索</a></li>
					<li><a href="#">店舗案内</a></li>
					<li><a href="#">お客様の声</a></li>
					<li><a href="#">スタッフ紹介</a></li>
					<li><a href="#">お問い合わせ</a></li>
					<li><a href="#">求人情報</a></li>
					<li><a href="#">プライバシーポリシー</a></li>
					<li><a href="#">利用規約</a></li>
					<li><a href="#">サイトマップ</a></li>
				</ul>
			</div>
		</section>
		<header>
			<div>
				<h2><a href="#">〇〇〇〇〇不動産</a></h2>
				<dl>
					<dt><span>○○店</span>03-0000-0000</dt>
					<dd>
						<p>総合窓口 本部　<strong>0120-000-000</strong></p></dd>
					<dd>営業時間 00:00～00:00 │ 定休日 ○曜</dd>
				</dl>
			</div>
		</header>
		<nav>
			<div>
				 <ul>
					<li><a href="#">ホーム</a></li>
					<li><a href="#">物件検索</a></li>
					<li><a href="#">店舗案内</a></li>
					<li><a href="#">お客様の声</a></li>
					<li><a href="#">スタッフ紹介</a></li>
					<li><a href="#">お問い合わせ</a></li>
				</ul>
			</div>
		</nav>
		<section id="main_area">
			<div class="flexslider">
				<ul class="slides">
					<li><%= image_tag 'top/slide_sample.png' %></li>
					<li><%= image_tag 'top/slide_sample.png' %></li>
					<li><%= image_tag 'top/slide_sample.png' %></li>
					<li><%= image_tag 'top/slide_sample.png' %></li>
					<li><%= image_tag 'top/slide_sample.png' %></li>
				</ul>
			</div>
		</section>
		<section id="category_area">
			<div>
				<ul>
					<li><a href="#"><%= image_tag 'top/category_bnr_railroad.png', :width => '310', :height => '100' %></a></li>
					<li><a href="#"><%= image_tag 'top/category_bnr_area.png', :width => '310', :height => '100' %></a></li>
					<li><a href="#"><%= image_tag 'top/category_bnr_map.png', :width => '310', :height => '100' %></a></li>
				</ul>
			</div>
		</section>
		<section id="search_area">
			<div>
				<form>
					<input type="text" name="" maxlength="50" value="" placeholder="フリーワード検索">
					<select name="">
						<option value="賃料">賃料</option>
						<option value="※">※</option>
						<option value="※">※</option>
						<option value="※">※</option>
					</select>
					<select name="">
						<option value="面積">面積</option>
						<option value="※">※</option>
						<option value="※">※</option>
						<option value="※">※</option>
					</select>
					<button type="submit" name="" >検索</button>
				</form>
			</div>
		</section>
		<section id="contents_area">
			<article>
				<div class="top_title">
					<div>
						<h3>新着物件</h3>
						<span>New Select</span>
						<a href="#">more</a>
					</div>
				</div>
				<div class="top_rental">
					<ul>
						<li>
							<a href="#">
								<dl>
									<dt>○○○○○○○</dt>
									<dd>
										<ul class="plaice">
											<li>4.8<span>万円</span></li>
											<li>1LDK</li>
										</ul>
										<%= image_tag 'commons/image_sample.png', :width => '216', :height => '162' %>
										<ol>
											<li>アパート（居住用）</li>
											<li>〇〇駅 徒歩〇〇分</li>
										</ol>
										<span class="btn">more</span>
									</dd>
								</dl>
							</a>
						</li>
						<li>
							<a href="#">
								<dl>
									<dt>○○○○○○○</dt>
									<dd>
										<ul class="plaice">
											<li>4.8<span>万円</span></li>
											<li>1LDK</li>
										</ul>
										<%= image_tag 'commons/image_sample.png', :width => '216', :height => '162' %>
										<ol>
											<li>アパート（居住用）</li>
											<li>〇〇駅 徒歩〇〇分</li>
										</ol>
										<span class="btn">more</span>
									</dd>
								</dl>
							</a>
						</li>
						<li>
							<a href="#">
								<dl>
									<dt>○○○○○○○</dt>
									<dd>
										<ul class="plaice">
											<li>4.8<span>万円</span></li>
											<li>1LDK</li>
										</ul>
										<%= image_tag 'commons/image_sample.png', :width => '216', :height => '162' %>
										<ol>
											<li>アパート（居住用）</li>
											<li>〇〇駅 徒歩〇〇分</li>
										</ol>
										<span class="btn">more</span>
									</dd>
								</dl>
							</a>
						</li>
						<li>
							<a href="#">
								<dl>
									<dt>○○○○○○○</dt>
									<dd>
										<ul class="plaice">
											<li>4.8<span>万円</span></li>
											<li>1LDK</li>
										</ul>
										<%= image_tag 'commons/image_sample.png', :width => '216', :height => '162' %>
										<ol>
											<li>アパート（居住用）</li>
											<li>〇〇駅 徒歩〇〇分</li>
										</ol>
										<span class="btn">more</span>
									</dd>
								</dl>
							</a>
						</li>
						<li>
							<a href="#">
								<dl>
									<dt>○○○○○○○</dt>
									<dd>
										<ul class="plaice">
											<li>4.8<span>万円</span></li>
											<li>1LDK</li>
										</ul>
										<%= image_tag 'commons/image_sample.png', :width => '216', :height => '162' %>
										<ol>
											<li>アパート（居住用）</li>
											<li>〇〇駅 徒歩〇〇分</li>
										</ol>
										<span class="btn">more</span>
									</dd>
								</dl>
							</a>
						</li>
						<li>
							<a href="#">
								<dl>
									<dt>○○○○○○○</dt>
									<dd>
										<ul class="plaice">
											<li>4.8<span>万円</span></li>
											<li>1LDK</li>
										</ul>
										<%= image_tag 'commons/image_sample.png', :width => '216', :height => '162' %>
										<ol>
											<li>アパート（居住用）</li>
											<li>〇〇駅 徒歩〇〇分</li>
										</ol>
										<span class="btn">more</span>
									</dd>
								</dl>
							</a>
						</li>
					</ul>
				</div>
				<div class="top_title">
					<div>
						<h3>更新情報</h3>
						<span>Up to Date Information</span>
						<a href="#">more</a>
					</div>
				</div>
				<div class="top_information">
					<ul>
						<li>
							<a href="#">
								<dl>
									<dt><%= image_tag 'commons/image_sample.png', :width => '100', :height => '100' %></dt>
									<dd><span>2015.12.08</span><strong>タイトルタイトルタイトル</strong></dd>
								</dl>
							</a>
						</li>
						<li>
							<a href="#">
								<dl>
									<dt><%= image_tag 'commons/image_sample_s.png', :width => '100', :height => '100' %></dt>
									<dd><span>2015.12.08</span><strong>タイトルタイトルタイトル</strong></dd>
								</dl>
							</a>
						</li>
						<li>
							<a href="#">
								<dl>
									<dt><%= image_tag 'commons/image_sample_s.png', :width => '100', :height => '100' %></dt>
									<dd><span class="icon">2015.12.08</span><strong>タイトルタイトルタイトル</strong></dd>
								</dl>
							</a>
						</li>
					</ul>
				</div>
				<div class="top_title">
					<div>
						<h3>おすすめ物件</h3>
						<span>Special Select</span>
						<a href="#">more</a>
					</div>
				</div>
				<div class="top_rental">
					<ul>
						<li>
							<a href="#">
								<dl>
									<dt>○○○○○○○</dt>
									<dd>
										<ul class="plaice">
											<li>4.8<span>万円</span></li>
											<li>1LDK</li>
										</ul>
										<%= image_tag 'commons/image_sample.png', :width => '216', :height => '162' %>
										<ol>
											<li>アパート（居住用）</li>
											<li>〇〇駅 徒歩〇〇分</li>
										</ol>
										<span class="btn">more</span>
									</dd>
								</dl>
							</a>
						</li>
						<li>
							<a href="#">
								<dl>
									<dt>○○○○○○○</dt>
									<dd>
										<ul class="plaice">
											<li>4.8<span>万円</span></li>
											<li>1LDK</li>
										</ul>
										<%= image_tag 'commons/image_sample.png', :width => '216', :height => '162' %>
										<ol>
											<li>アパート（居住用）</li>
											<li>〇〇駅 徒歩〇〇分</li>
										</ol>
										<span class="btn">more</span>
									</dd>
								</dl>
							</a>
						</li>
						<li>
							<a href="#">
								<dl>
									<dt>○○○○○○○</dt>
									<dd>
										<ul class="plaice">
											<li>4.8<span>万円</span></li>
											<li>1LDK</li>
										</ul>
										<%= image_tag 'commons/image_sample.png', :width => '216', :height => '162' %>
										<ol>
											<li>アパート（居住用）</li>
											<li>〇〇駅 徒歩〇〇分</li>
										</ol>
										<span class="btn">more</span>
									</dd>
								</dl>
							</a>
						</li>
						<li>
							<a href="#">
								<dl>
									<dt>○○○○○○○</dt>
									<dd>
										<ul class="plaice">
											<li>4.8<span>万円</span></li>
											<li>1LDK</li>
										</ul>
										<%= image_tag 'commons/image_sample.png', :width => '216', :height => '162' %>
										<ol>
											<li>アパート（居住用）</li>
											<li>〇〇駅 徒歩〇〇分</li>
										</ol>
										<span class="btn">more</span>
									</dd>
								</dl>
							</a>
						</li>
						<li>
							<a href="#">
								<dl>
									<dt>○○○○○○○</dt>
									<dd>
										<ul class="plaice">
											<li>4.8<span>万円</span></li>
											<li>1LDK</li>
										</ul>
										<%= image_tag 'commons/image_sample.png', :width => '216', :height => '162' %>
										<ol>
											<li>アパート（居住用）</li>
											<li>〇〇駅 徒歩〇〇分</li>
										</ol>
										<span class="btn">more</span>
									</dd>
								</dl>
							</a>
						</li>
						<li>
							<a href="#">
								<dl>
									<dt>○○○○○○○</dt>
									<dd>
										<ul class="plaice">
											<li>4.8<span>万円</span></li>
											<li>1LDK</li>
										</ul>
										<%= image_tag 'commons/image_sample.png', :width => '216', :height => '162' %>
										<ol>
											<li>アパート（居住用）</li>
											<li>〇〇駅 徒歩〇〇分</li>
										</ol>
										<span class="btn">more</span>
									</dd>
								</dl>
							</a>
						</li>
					</ul>
				</div>
				<div class="top_title">
					<div>
						<h3>こだわり物件特集</h3>
						<span>Special Category</span>
						<a href="#">more</a>
					</div>
				</div>
				<div class="top_category">
					<ul>
						<li><a href="#"><%= image_tag 'top/category_image_shikikin.png', :width => '126', :height => '126' %></a></li>
						<li><a href="#"><%= image_tag 'top/category_image_security.png', :width => '126', :height => '126' %></a></li>
						<li><a href="#"><%= image_tag 'top/category_image_10manyen.png', :width => '126', :height => '126' %></a></li>
						<li><a href="#"><%= image_tag 'top/category_image_chuukai.png', :width => '126', :height => '126' %></a></li>
						<li><a href="#"><%= image_tag 'top/category_image_hoshounin.png', :width => '126', :height => '126' %></a></li>
					</ul>
				</div>
				<div class="top_title">
					<div>
						<h3>お客様の声</h3>
						<span>Custmer's Voice</span>
						<a href="#">more</a>
					</div>
				</div>
				<div class="top_voice">
					<ul>
						<li><a href="#"><%= image_tag 'top/voice_image_sample.png', :width => '216', :height => '162' %>
						<strong>○.○様<span>[2016/02/01]</span></strong><span>○○○○店ご利用</span></a></li>
						<li><a href="#"><%= image_tag 'top/voice_image_sample.png', :width => '216', :height => '162' %><strong>○.○様<span>[2016/02/01]</span></strong><span>○○○○店ご利用</span></a></li>
						<li><a href="#"><%= image_tag 'top/voice_image_sample.png', :width => '216', :height => '162' %><strong>○.○様<span>[2016/02/01]</span></strong><span>○○○○店ご利用</span></a></li>
					</ul>
				</div>
				<div class="top_title">
					<div>
						<h3>スタッフ紹介</h3>
						<span>Staff Introduction</span>
						<a href="#">more</a>
					</div>
				</div>
				<div class="top_staff">
					<ul>
						<li><a href="#"><%= image_tag 'top/staff_image_sample.png', :width => '161', :height => '121' %>
						<strong>山田 太郎</strong><span>やまだ たろう</span></a></li>
						<li><a href="#"><%= image_tag 'top/staff_image_sample.png', :width => '161', :height => '121' %><strong>山田 太郎</strong><span>やまだ たろう</span></a></li>
						<li><a href="#"><%= image_tag 'top/staff_image_sample.png', :width => '161', :height => '121' %><strong>山田 太郎</strong><span>やまだ たろう</span></a></li>
						<li><a href="#"><%= image_tag 'top/staff_image_sample.png', :width => '161', :height => '121' %><strong>山田 太郎</strong><span>やまだ たろう</span></a></li>
					</ul>
				</div>
			</article>
			<article id="sidebar">
				<div>
					<ul>
						<li><a href="#"><%= image_tag 'top/side_bnr_sample_02.png', :width => '240', :height => '80' %></a></li>
						<li><a href="#"><%= image_tag 'top/side_bnr_sample_02.png', :width => '240', :height => '80' %></a></li>
						<li><a href="#"><%= image_tag 'top/side_bnr_sample_02.png', :width => '240', :height => '80' %></a></li>
						<li><a href="#"><%= image_tag 'top/side_bnr_sample_02.png', :width => '240', :height => '80' %></a></li>
						<li><a href="#"><%= image_tag 'top/side_bnr_sample_01.png', :width => '240', :height => '240' %></a></li>
						<li><a href="#"><%= image_tag 'top/side_bnr_sample_01.png', :width => '240', :height => '240' %></a></li>
						<li><a href="#"><%= image_tag 'top/side_bnr_sample_01.png', :width => '240', :height => '240' %></a></li>
						<li><a href="#"><%= image_tag 'top/side_bnr_sample_01.png', :width => '240', :height => '240' %></a></li>
					</ul>
				</div>
			</article>
		</section>
		<section id="link_area">
			<div>
				<ul>
					<li><a href="#">求人情報</a></li>
					<li><a href="#">プライバシーポリシー</a></li>
					<li><a href="#">利用規約</a></li>
					<li><a href="#">サイトマップ</a></li>
				</ul>
				<span><a href="#title_area">ページ上部へ戻る</a></span>
			</div>
		</section>
		<section id="banner_area">
			<div>
				<ul>
					<li><a href="#"><%= image_tag 'top/footer_bnr_sample.png', :width => '176', :height => '60' %></a></li>
					<li><a href="#"><%= image_tag 'top/footer_bnr_sample.png', :width => '176', :height => '60' %></a></li>
					<li><a href="#"><%= image_tag 'top/footer_bnr_sample.png', :width => '176', :height => '60' %></a></li>
					<li><a href="#"><%= image_tag 'top/footer_bnr_sample.png', :width => '176', :height => '60' %></a></li>
					<li><a href="#"><%= image_tag 'top/footer_bnr_sample.png', :width => '176', :height => '60' %></a></li>
				</ul>
			</div>
		</section>

	</body>
</html>
